.background--Istanbul {
  background-image: url("../components/assets/Istanbul-Wikimedia.jpg");
  background-color: #585959;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.background--Saigon {
  background-image: url("../components/assets/saigon.jpg");
  background-color: #585959;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}