.background--Istanbul {
  background-image: url("../assets/Istanbul-Wikimedia.jpg");
  background-color: #585959;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}