.background--Istanbul {
  background-image: url("../components/assets/Istanbul-Wikimedia.jpg");
  background-color: #585959;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
.background--Saigon {
  background-image: url("../components/assets/saigon.jpg");
  background-color: #585959;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
.background--Montréal {
  background-image: url("../components/assets/montreal.jpg");
  background-color: #585959;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
.background--Budapest {
  background-image: url("../components/assets/budapest.jpg");
  background-color: #585959;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
.background--Oaxaca {
  background-image: url("../components/assets/oaxaca.jpg");
  background-color: #585959;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
.background--My-Room {
  background-image: url("../components/assets/my-room.jpg");
  background-color: #585959;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}