.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcome-my-room {
  height: 100%;
  width: 100%;
}

.welcome-my-room-title {
  padding-top: 25em;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../components/assets/cloud-my-room.png");
  background-position: center center;
  background-size: 652px 352px;
}

.card-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
  background-image: url(./assets/felt.png);
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 25px;
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.card-quiz {
  width: 100%;
  background-color: rgba(170, 183, 184, 0.7);
  border-radius: 25px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-quiz-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-profile {
  width: 75%;
  background-color: rgba(170, 183, 184, 0.7);
  border-radius: 25px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-favourite {
  width: 75%;
  background-color: rgba(170, 183, 184, 0.7);
  border-radius: 25px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: medium;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 2em;
  text-shadow: 2px 2px 10px #b19cd9;
  filter: dropshadow(color=#FCF4A3, offx=2, offy=2);
}

.card-text {
  display: flex;
  font-size: small;
  overflow: hidden;
  color: white;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

.card-text-result {
  color: #fcf4a3;
  font-weight: bold;
  display: flex;
  color: #fcf4a3;
  font-weight: bold;
  font-size: small;
  justify-content: center;
}

.card-img-top {
  background-size: cover;
  border-radius: 50%;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-sub-title-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card-sub-title {
  font-size: smaller;
  font-weight: bold;
  color: #714ba6;
  letter-spacing: 1px;
}

#deleteBtn span {
  color: #714ba6;
  visibility: hidden;
  // margin-right: 0;
}

.card-text:hover #deleteBtn span {
  visibility: visible;
}
