

#speech-container, #quiz-form {
	padding-top: 80px;
	padding-bottom: 80px;
	margin: 0 auto;
	width: 80vw;
	height: calc(100vh - 80px);
  display: flex;
	justify-content: space-evenly;
}

.quiz-area, .submit-area  {
	padding: 1em .25em;
	flex-basis: 312px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
	background-color: #8f8f8f;
  color: #FFF;
  p {
    color: #000000
	}
	li {
		text-align: left;
	}
	h1 {
		padding-bottom: .5em;
	}
	button, input, fieldset {
		margin-top: 1em;
		// justify-content: flex-end;
	}
}

.bubbles, .choice--cards {
	background: rgba(69, 69, 69, 0.3);
	border-radius: 20px 0 0 0;
	overflow: hidden;
	overflow: auto;
	overflow: scroll;
}


.choice--cards {
	padding: 2em;
	background-color: #FFF;

	fieldset {
		text-align: left;
		padding: 1em!important;
		width: 300px!important;
	}
	
}

fieldset .MuiFormLabel-root {
	text-align: left;
	color: #669AE1;
	font-weight: bold;
}



/* width */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(135,25,150, 0.9); 
	 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #871996;
	// background: rgba(135,25,150, 0.3); 
}


// ********************************
.speech-bubble {
	// layout
	position: relative;
	max-width: 30em;
  // looks
  margin: 1.75em;
	background-color: #fff;
	padding: .8em 1.5em;
	font-size: 1.25em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}
.speech-bubble::before {
	// layout
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em; // offset should move with padding of parent
	border: .75rem solid transparent;
	border-top: none;
	// looks
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}
// dressing
.speech-container {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #192229;
	background: linear-gradient(135deg, #F4F2F3, #BFC6D0);
}

.speech-container {
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

// body {
// 	padding: 0 2rem;
// }